<ion-view view-title="Rozpoznání listu">
  <ion-content class="padding">
    <!-- TODO: enable to take photo -->
    <div class="file-upload button icon-left ion-camera button-block button-positive" ng-click="vm.takePicture()">
      <input type="file" class="file-upload__input" ng-file-select>
      <span>Pořídit fotku</span>
    </div>
    <canvas id="pathCanvas" width="{{ vm.options.pathLength }}" height="{{ vm.options.pathHeight }}"></canvas>
    <div class="list">
      <div class="item range range-positive">
        <input type="range" ng-model="vm.options.blurRadius" ng-change="vm.reprocessCanny()" name="volume" min="0" max="20">
        <span class="item-note">
          blur před canny: {{vm.options.blurRadius}}
        </span>
      </div>
      <div class="item range range-positive">
        <input type="range" ng-model="vm.options.blurRadius2" ng-change="vm.reprocessCanny()" name="volume" min="0" max="30">
        <span class="item-note">
          blur po canny: {{vm.options.blurRadius2}}
        </span>
      </div>
      <div class="item range range-positive">
        <input type="range" ng-model="vm.options.treshold" ng-change="vm.reprocessCanny()" name="volume" min="0" max="50">
        <span class="item-note">
          mez: {{vm.options.treshold}}
        </span>
      </div>
      <!-- <div class="item">
        Contours.length: {{vm.contours.length}}
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="number" placeholder="From" ng-model="vm.options.from" ng-change="vm.drawContoursPaths()">
        </label>
        <label class="item item-input">
          <input type="number" placeholder="To" ng-model="vm.options.to" ng-change="vm.drawContoursPaths()">
        </label>
      </div> -->
    </div>
    <canvas id="previewCanvas" width="{{ vm.canvas.width }}" height="{{ vm.canvas.height }}"></canvas>
    <canvas id="cannyCanvas" width="{{ vm.canvas.width }}" height="{{ vm.canvas.height }}"></canvas>
  </ion-content>
</ion-view>
