.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    .file-upload__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        z-index: 10000;
        filter: alpha(opacity=0);
    }
}
