<ion-view view-title="Rozpoznání listu">
  <ion-content class="padding">
    <!-- TODO: enable to take photo -->
    <button class="button icon-left ion-camera button-block button-positive" ng-click="vm.takePicture()">
      Pořídit fotku
    </button>
    <canvas id="pathCanvas" width="{{ vm.options.pathLength }}" height="{{ vm.options.pathHeight }}"></canvas>
    <div class="list">
      <div class="item range range-positive">
        Blur:&nbsp;{{vm.options.blurRadius}}
        <i class="icon ion-contrast"></i>
        <input type="range" ng-model="vm.options.blurRadius" ng-change="vm.reprocessCanny()" name="volume" min="0" max="20">
        <i class="icon ion-waterdrop"></i>
      </div>
      <div class="item range range-positive">
        Blur2:&nbsp;{{vm.options.blurRadius2}}
        <i class="icon ion-contrast"></i>
        <input type="range" ng-model="vm.options.blurRadius2" ng-change="vm.reprocessCanny()" name="volume" min="0" max="30">
        <i class="icon ion-waterdrop"></i>
      </div>
      <div class="item range range-positive">
        Treshold:&nbsp;{{vm.options.treshold}}
        <input type="range" ng-model="vm.options.treshold" ng-change="vm.reprocessCanny()" name="volume" min="0" max="50">
      </div>
      <!-- <div class="item">
        Contours.length: {{vm.contours.length}}
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="number" placeholder="From" ng-model="vm.options.from" ng-change="vm.drawContoursPaths()">
        </label>
        <label class="item item-input">
          <input type="number" placeholder="To" ng-model="vm.options.to" ng-change="vm.drawContoursPaths()">
        </label>
      </div> -->
    </div>
    <canvas id="previewCanvas" width="{{ vm.canvas.width }}" height="{{ vm.canvas.height }}"></canvas>
    <canvas id="cannyCanvas" width="{{ vm.canvas.width }}" height="{{ vm.canvas.height }}"></canvas>
    <form>
      <input type="file" ng-file-select>
    </form>
    <b>Náhled:</b><br/>
    <i ng-hide="vm.imageSrc">No image choosed</i>
  </ion-content>
</ion-view>
