<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{vm.tree.name}}">
  <ion-content class="padding full-height">
    <div class="list card full-height">
      <div class="item item-avatar">
        <img ng-src="{{vm.tree.imgLink}}">
        <h2>{{vm.tree.name}}</h2>
        <p>
          {{vm.tree.nameLatin}}
        </p>
      </div>

      <div class="item item-image full-height">
        <iframe ng-src="{{ vm.tree.link | trusted }}" class="full-height full-width"></iframe>
      </div>
    </div>
  </ion-content>
</ion-view>
